<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="d-flex justify-content-center">
      <a href="https://twitter.com/ChristianMoesl" class="social-media-icon fa fa-twitter"></a>
      <a href="https://github.com/ChristianMoesl" class="social-media-icon fa fa-github"></a>
      <a href="https://www.linkedin.com/in/christianmoesl/" class="social-media-icon fa fa-linkedin"></a>
      <a href="mailto:christian.moesl@live.at" class="social-media-icon fa fa-envelope-o"></a>
    </div>
  </div>

</footer>
