---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{ page.title | escape }}</h1>

  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        {{ content }}


<!--
            <div class="footer-col footer-col-3">
              <p>{{ site.description | escape }}</p>
            </div> -->

      </div>
      <div class="col-sm-3">
        <img src="/assets/myself.jpg" class="img-thumbnail" height="250" width="250">

        <!-- <div class="footer-col-wrapper"> -->
            <!-- <div class="footer-col footer-col-1">
              <ul class="contact-list">
                <li>
                  {% if site.author %}
                    {{ site.author | escape }}
                  {% else %}
                    {{ site.title | escape }}
                  {% endif %}
                  </li>
                  {% if site.email %}
                  <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                  {% endif %}
              </ul>
            </div> -->
            <div class="container-fluid">
              <div class="row">
                <div class="col-3">
                    <a href="https://twitter.com/ChristianMoesl" class="fa fa-twitter"></a>
                </div>
                <div class="col-3">
                    <a href="https://github.com/ChristianMoesl" class="fa fa-github"></a>
                </div>
                <div class="col-3">
                    <a href="https://www.linkedin.com/in/christianmoesl/" class="fa fa-linkedin"></a>
                </div>
                <div class="col-3">
                    <a href="mailto:christian.moesl@live.at" class="fa fa-envelope-o"></a>
                </div>
              </div>
            </div>




              <!-- <ul class="social-media-list">
                {% if site.github_username %}
                <li>
                  {% include icon-github.html username=site.github_username %}
                </li>
                {% endif %}

                {% if site.twitter_username %}
                <li>
                  {% include icon-twitter.html username=site.twitter_username %}
                </li>
                {% endif %}
              </ul> -->
          <!-- </div> -->
      </div>
    </div>

  </div>
</div>
